body {
  width: 100vw;
  font-size: 16px;
}

.persons {
  margin: 5 rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.person {
  padding: 2 rem;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  flex-direction: row;
}

.person p {
  width: 100%;
}
.person img {
  display: float;
}
